
version: '3.8'

services:
  frontend:
    build: .
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://localhost:4000

  mongo:
    image: mongo:7-jammy
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    networks:
      - backend

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    networks:
      - backend
    volumes:
      - redis-data:/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - MONGODB_URI=mongodb://mongo:27017/ai_ad_system
      - JWT_SECRET=super-secret-123
      - PORT=4000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - API_BASE_URL=http://backend:4000
      - NODE_ENV=production
      - PUBLIC_URL=${PUBLIC_URL:-http://localhost:4000}
    ports:
      - "4000:4000"
    depends_on:
      - mongo
      - redis
    networks:
      - backend

networks:
  backend:

volumes:
  mongo-data:
  redis-data:
